<div class="container">
  <div class="top">
    <div class="top-left"></div>
    <div class="top-middle"></div>
    <div class="top-right"></div>
  </div>
  <div class="middle">
    <div class="middle-left">
      <div class="middle-left-top"></div>
      <div class="middle-left-center"></div>
      <div class="middle-left-bottom"></div>
    </div>
    <div class="middle-middle">


      <div class="register-container">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="form-fullName">
            <label for="fullName">Full Name</label>
            <input
              id="fullName"
              formControlName="fullName">
          </div>
          <div class="form-email">
            <label for="email">E-Mail</label>
            <input
              id="email"
              formControlName="email">
          </div>
          <div class="form-password">
            <label for="password">Password</label>
            <input
              id="password"
              formControlName="password"
              type="password">
          </div>
          <div class="form-confirmPassword">
            <label for="confirmPassword">Confirm Password</label>
            <input
              id="confirmPassword"
              formControlName="confirmPassword"
              type="password">
          </div>
          <div class="form-button">
            <button type="submit">Register</button>
          </div>
        </form>
      </div>


    </div>
    <div class="middle-right">
      <div class="middle-right-top"></div>
      <div class="middle-right-center"></div>
      <div class="middle-right-bottom"></div>
    </div>
  </div>
  <div class="bottom">
    <div class="bottom-left"></div>
    <div class="bottom-middle"></div>
    <div class="bottom-right"></div>
  </div>
</div>
