.dashboard-container {
  display: flex;
  width: 600px;
  height: 598px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  font-family: 'topaz_a500', sans-serif;
  background-image: url('../../../assets/backgrounds/main.png');
  justify-content: center;
  align-items: center;
}

.button {
  padding-top: 14%;
}

.button-text {
  margin-top: 4px;
}

.button_user-registry {
  display: flex;
  background-color: transparent;
  background-size: cover;
  border: none;
  cursor: pointer;
  width: 62px;
  height: 61px;
  background-image: url('/assets/icons/disk_ram.png');
}

.sidebar {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-top: 4%;
  justify-content: start;
  align-items: center;
}
