.default {
  display: flex;
  flex-direction: column;
  width: 1280px;
  height: 960px;
  /*width: 800px;*/
  /*height: 600px;*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  font-family: 'topaz_a500', sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.titleBar {
  display: flex;
  flex-direction: row;
  height: 39px;
}

.titleBar_left{
  width: 660px;
  background-image: url('../../../assets/backgrounds/wbbar_left.png');
}

.titleBar_center {
  flex-grow: 1;
  background-image: url('../../../assets/backgrounds/wbbar_center.png');
}

.titleBar_right {
  width: 111px;
  background-image: url('../../../assets/backgrounds/wbbar_right.png');
}

.view_sidebar {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
}

.view {
  width: 1040px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-top: 4%;
  justify-content: start;
  align-items: center;
}

.button_login, .button_login2, .button_register,  .button_register2 {
  display: flex;
  background-color: transparent;
  background-size: cover;
  border: none;
  cursor: pointer;
}

.button {
  padding-top: 14%;
}

.button_login {
  width: 62px;
  height: 61px;
  background-image: url('../../../assets/icons/disk_ram.png');
}

.button_register {
  width: 67px;
  height: 58px;
  background-image: url('../../../assets/icons/disk.png');
}

.button-text {
  margin-top: 4px;
}
