.container {
  display: flex;
  width: 600px;
  height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  font-family: 'topaz_a500', sans-serif;
  background-image: url('../../../assets/backgrounds/landing.png');
  justify-content: center;
  align-items: center;
  border: 1px solid #333;
  box-shadow: 4px 4px 20px rgba(00, 40, 80, 3);
}
