<div class="container">
  <div class="top">
    <div class="top-left"></div>
    <div class="top-middle"></div>
    <div class="top-right"></div>
  </div>
  <div class="middle">
    <div class="middle-left">
      <div class="middle-left-top"></div>
      <div class="middle-left-center"></div>
      <div class="middle-left-bottom"></div>
    </div>
    <div class="middle-middle">
      <div class="info">
        <h4 style="text-align: center;">Välkommen till landningssidan...</h4>
        <p>
          oirwtj oiwrt juiwhg wuirgb fueiwbfewiubfwefib uiwefb ubcszv iuwbgf.<br>
          ooiaf joiefj qjfjojiiojojifeö equthqeflknsv qefkln lkqnef klnf.<br>
          vbwoiwrhg wroih rwglmnxsbnklswb oiwrg oinrwgoin w oiwrgn oinrwef.
        </p>
        <p>
          oirwtj oiwrt juiwhg wuirgb fueiwbfewiubfwefib uiwefb ubcszv iuwbgf.<br>
          fojiwrg iwogj oirjw goiwrjg oijwrgroiwgjwogji xfbfl wrgrwgojijwrg.<br>
          rwonxfsb wgoi wrognsfbmnjbwregi pwgij wrogn sfblnwroin oiwrgn ok.
        </p>
      </div>
      <div class="menu">
        <button class="button_login"></button>
      </div>
    </div>
    <div class="middle-right">
      <div class="middle-right-top"></div>
      <div class="middle-right-center"></div>
      <div class="middle-right-bottom"></div>
    </div>
  </div>
  <div class="bottom">
    <div class="bottom-left"></div>
    <div class="bottom-middle"></div>
    <div class="bottom-right"></div>
  </div>
</div>
