<div class="info">
  <h4 style="text-align: center;">Välkommen till landningssidan...</h4>
  <p>
    Oirwtj oiwrt juiwhg wuirgb fueiwbfewiubfwefib uiwefb ubcszv.
    Ioiaf joiefj qjfjojiiojojifeö equthqeflknsv qefkln lkqnef klnf.<br>
    Airwtj oiwrt juiwhg wuirgb fueiwbfewiubfwefib uiwefb ubcszv.
    Fojiwrg iwogj oirjw goiwrjg oijwrgroiwgjwogji xfbfl.
  </p>
</div>
<!--<div class="menu">
  <div class="button-container">
    <button class="button_login" (click)="onLoginClick()"></button>
    <button class="button_register" (click)="onRegisterClick()"></button>
  </div>
  <div class="button_text-container">
    <p class="button-text">Logga in</p>
    <p class="button-text">Registrera</p>
  </div>
</div>-->

