.default {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 70vh;
  width: calc(70vh * (4 / 3));              /* 4:3 bildförhållande */
  font-family: 'topaz_a500', sans-serif;
}

.titleBar {
  display: flex;
  flex-direction: row;
  height: 39px;
}

.titleBar_left{
  width: 660px;
  background-image: url('../app/assets/backgrounds/wbbar_left.png');
}

.titleBar_center {
  flex-grow: 1;
  display: flex;
  background-image: url('../app/assets/backgrounds/wbbar_center.png');
  align-items: center;
  justify-content: end;
  padding-right: 20px;
  color: rgb(13,84,160);
  font-size: 28px;
}

.titleBar_right {
  width: 111px;
  background-image: url('../app/assets/backgrounds/wbbar_right.png');
}

.view_sidebar {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.view {
  flex-grow: 1;
}

.sidebar {
  display: flex;
  flex-direction: column;
  flex-basis: 14%;
  padding-top: 6%;
  justify-content: center;
  align-items: center;
}

button {
  display: flex;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  }

.button_login, .button_logout{
  width: 62px;
  height: 61px;
  background-image: url('../app/assets/icons/disk_ram.png');
}

.button_register {
  width: 67px;
  height: 58px;
  background-image: url('../app/assets/icons/disk.png');
}

.button_text {
  display: flex;
  justify-content: center;
  padding-top: 2px;
  padding-bottom: 20px;
}
