<div class="default">
  <div class="titleBar">
    <div class="titleBar_left"></div>
    <div class="titleBar_center">{{ fullName ? '# ' + fullName : '' }}</div>
    <div class="titleBar_right"></div>
  </div>
  <div class="view_sidebar">
    <div class="view">

      <router-outlet />

    </div>
    <div class="sidebar">
      <div *ngIf="isLoggedIn">
        <button class="button_logout" (click)="onLogoutClick()"></button>
        <div class="button_text">
          Logout
        </div>
      </div>
      <div [appHideIfClaimsNotMet]="claimReq.authenticated">
        <button class="button_login" (click)="onLoginClick()"></button>
        <div class="button_text">
          Login
        </div>
    </div>
    <div [appHideIfClaimsNotMet]="claimReq.authenticated">
      <button class="button_register" (click)="onRegisterClick()"></button>
      <div class="button_text">
        Register
      </div>
    </div>
    </div>
  </div>
</div>
