<div class="default">
  <div class="titleBar">
    <div class="titleBar_left"></div>
    <div class="titleBar_center">{{ fullName ? '# ' + fullName : '' }}</div>
    <div class="titleBar_right"></div>
  </div>
  <div class="view_sidebar">
    <div class="view">

      <router-outlet />

    </div>
    <div class="sidebar">

      <div *ngIf="isLoggedIn">
        <app-image-toggle
          style="text-align: center"
          [image1]="'app/assets/icons/drawer_closed.png'"
          [image2]="'app/assets/icons/drawer_qmark.png'"
          [buttonText]="'Logout'"
          (buttonClicked)="handleOnLogoutClick()">
        </app-image-toggle>
      </div>
      <div [appHideIfClaimsNotMet]="claimReq.authenticated">
        <app-image-toggle
          style="text-align: center"
          [image1]="'app/assets/icons/drawer_closed.png'"
          [image2]="'app/assets/icons/drawer_qmark.png'"
          [buttonText]="'Login'"
          (buttonClicked)="handleOnLoginClick()">
        </app-image-toggle>
    </div>
    <div [appHideIfClaimsNotMet]="claimReq.authenticated">
      <app-image-toggle
        style="text-align: center"
        [image1]="'app/assets/icons/drawer_closed.png'"
        [image2]="'app/assets/icons/drawer_qmark.png'"
        [buttonText]="'Register'"
        (buttonClicked)="handleOnRegisterClick()">
      </app-image-toggle>
    </div>
    </div>
  </div>
</div>
