<div class="container">
  <div class="top">
    <div class="top-left"></div>
    <div class="top-middle"></div>
    <div class="top-right"></div>
  </div>
  <div class="middle">
    <div class="middle-left">
      <div class="middle-left-top"></div>
      <div class="middle-left-center"></div>
      <div class="middle-left-bottom"></div>
    </div>
    <div class="middle-middle">


      <div class="login-container">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

          <div class="form-username">
            <label for="username">Username</label>
            <input id="username" formControlName="username">
            <div *ngIf="hasDisplayableError('username') && loginForm.controls['username'].hasError('required')">
              <small>Username required.</small>
            </div>
          </div>

          <div class="form-password">
            <label for="password">Password</label>
            <input id="password" formControlName="password" type="password">
            <div *ngIf="hasDisplayableError('password')">
              <ng-container [ngSwitch]="loginForm.controls['password'].errors | firstKey">
                <div *ngSwitchCase="'required'">
                  <small>Please enter your password.</small>
                </div>
                <div *ngSwitchCase="'minlength'">
                  <small>At least 6 characters required.</small>
                </div>
                <div *ngSwitchCase="'pattern'">
                  <small>One or more special character(s).</small>
                </div>
              </ng-container>
            </div>
          </div>

          <div class="form-button">
            <button type="submit" [disabled]="loginForm.invalid">Login</button>
          </div>

        </form>
      </div>


    </div>
    <div class="middle-right">
      <div class="middle-right-top"></div>
      <div class="middle-right-center"></div>
      <div class="middle-right-bottom"></div>
    </div>
  </div>
  <div class="bottom">
    <div class="bottom-left"></div>
    <div class="bottom-middle"></div>
    <div class="bottom-right"></div>
  </div>
</div>
