<div class="container">
  <div class="top">
    <div class="top-left"></div>
    <div class="top-middle"></div>
    <div class="top-right"></div>
  </div>
  <div class="middle">
    <div class="middle-left">
      <div class="middle-left-top"></div>
      <div class="middle-left-center"></div>
      <div class="middle-left-bottom"></div>
    </div>
    <div class="middle-middle">


      <div class="login-container">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

          <div class="form-email">
            <label for="email">Email</label>
            <input id="email" formControlName="email">
            <div *ngIf="hasDisplayableError('email') && loginForm.controls['email'].hasError('required')">
              <small>Please enter your email address.</small>
            </div>
          </div>

          <div class="form-password">
            <label for="password">Password</label>
            <input id="password" formControlName="password" type="password">
            <div *ngIf="hasDisplayableError('password') && loginForm.controls['password'].hasError('required')">
                  <small>Please enter your password.</small>
            </div>
          </div>

          <div class="form-button">
            <button type="submit" [disabled]="loginForm.invalid">Login</button>
          </div>

        </form>
      </div>

      <div *ngIf="showFailPopup" class="popup-fail">
        Login failed! <br>Wrong email/password.
      </div>


    </div>
    <div class="middle-right">
      <div class="middle-right-top"></div>
      <div class="middle-right-center"></div>
      <div class="middle-right-bottom"></div>
    </div>
  </div>
  <div class="bottom">
    <div class="bottom-left"></div>
    <div class="bottom-middle"></div>
    <div class="bottom-right"></div>
  </div>
</div>
