@font-face {
  font-family: 'topaz_a500';
  src: url('assets/fonts/topaz_a500.ttf') format('truetype');
  font-weight: 500;
}

body {
  background-image: url('assets/backgrounds/main.png');
  background-repeat: repeat;
  color: #ffffff;
}
